

 <ion-view scroll = "false" >
    <ion-content>
	  <section class="login-container" ui-view>
	  		   <br>
            <div class = "col  text-center">
               <img src="./img/icon.png"/ class = 'logo'>
            	
            </div>
            
           	 <div class="col">
           	 	<div class="list list-inset">
				  <label class="item item-input">
				    <input type="text" placeholder="Username" class = 'form-control' ng-model="auth.username">
				  </label>
				  <label class="item item-input">
				    <input type="password" placeholder="Password" class = 'form-control' ng-model="auth.password">
				  </label>
				</div>

				<div class = 'text-center'>Technibuddy(Repository for technicians)</div>
           	 </div>
				
           	 <div class="col text-center">
           	 	<button class="button button-balanced " ng-click ="auth.login()">Login</button>
           	 </div>
                       
        </section>
    </ion-content>

 </ion-view>